* {
  padding: 0;
  margin: 0;
}

.row {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.left {
  height: 100%;
  padding: 0;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-position: left bottom;
}

.top {
  background-color: lightcoral;
  height: 30%;
}

.mid {
  background-color: red;
  height: 15%;
}

.bot {
  background-color: lightcyan;
  height: 70%;
}

.right {
  background-color: lightgreen;
  height: 100%;
}
